.col{
    height: 100px ;
    width: 200px;
    border: black 2px solid;
}
.col-1{
    background-color: blue;
}
.col-2{
    margin-left: 610px;
    margin-top: -103px;
    background-color: chartreuse;
}
.col-3{
    margin-left: 1153px;
    margin-top: -103px;
    background-color: darkgoldenrod;
}