.row{
    background-color: rgb(9, 79, 3);
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
    align-items: center;
}
.col{
    width: 100px;
    height: 150px;
    border: white solid 1px;
   
}
body{
    background-color: black;
}
