h1{
    color: darkgreen;
    text-align: center;
}
#a1{
    color: darkmagenta;
    text-align: right;
}
.c1{
    color: darkred;
    text-align: left;
}
/* left and start */
/* right and end */
#d1{
    background-color: darksalmon;
}
#d2{
    background-color: darkslategrey;
    color: deepskyblue;
}