body{
    background-color: black;
}

.col{
    height: 120px ;
    width: 81px;
    border: blue 2px solid;
    background-color: gray;
}

.col-1 {
margin-left: 400px;
}
.col-2{
    margin-left: 490px;
    margin-top: -124px;
    background-color: green;
}
.col-3{
    margin-left: 580px;
    margin-top: -124px;
    background-color: rgb(216, 131, 21);
}
.col-4{
    margin-left: 670px;
    margin-top: -124px;
    background-color: rgb(85, 22, 202);
}
.col-5{
    margin-left:760px;
    margin-top: -124px;
    background-color: rgb(232, 230, 236);
}
.col-6{
    margin-left: 310px;
    margin-top: 6px;
    background-color: orange;
    }
.col-7
{
    margin-left: 400px;
    margin-top: -124px;
    background-color: brown;
}
.col-8
{
    margin-left: 490px;
    margin-top: -124px;
    background-color: palevioletred;
}
.col-9
{
    margin-left: 580px;
    margin-top: -124px;
    background-color: violet;
}
.col-10
{
    margin-left: 670px;
    margin-top: -124px;
    background-color:purple;
}
.col-11
{
    margin-left: 760px;
    margin-top: -124px;
    background-color:blueviolet;
}
.col-12
{
    margin-left: 850px;
    margin-top: -124px;
    background-color:goldenrod;
}
.col-13
{
    margin-left: 220px;
    margin-top: 3px;
    background-color: cyan;
}
.col-14
{
    margin-left:310px;
    margin-top: -123px;
    background-color: yellowgreen;
}
.col-15
{
    margin-left:400px;
    margin-top: -123px;
    background-color: peachpuff;
}
.col-16
{
    margin-left:490px;
    margin-top: -123px;
    background-color: purple;
}
.col-17
{
    margin-left:580px;
    margin-top: -123px;
    background-color: rgb(128, 30, 0);
}
.col-17
{
    margin-left:580px;
    margin-top: -123px;
    background-color: rgb(38, 0, 128);
}
.col-18
{
    margin-left:670px;
    margin-top: -123px;
    background-color: rgb(0, 128, 64);
}
.col-19
{
    margin-left:760px;
    margin-top: -123px;
    background-color: rgb(187, 250, 15);
}
.col-20
{
    margin-left:850px;
    margin-top: -123px;
    background-color: rgb(250, 15, 191);
}
.col-21
{
    margin-left:940px;
    margin-top: -123px;
    background-color: rgb(25, 179, 218);
}
